* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    display: flex;
    padding: 1rem;
    background-color: lightblue;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5rem;
}

.Hero{
    background-image: url("images/Header3Resize.jpg");
    min-height: 40rem;

    height: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.Introduction{
 text-align: center;
 position: absolute;
 top: 50%;
 left: 20%;
 transform: translate(-50%, -50%);
 color: white;
 font-size: 170%;
}

.who{
    background-color:rgb(202, 235, 235);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.Me{
   margin: 170px;

}

.AboutMe{
    text-align: center;
}

.AboutMe h1{
    font-size: 400%;
}

.PreviousProject{
    border-radius: 2px;
    border-style: solid;
    padding: 1rem 2rem;
    border-color: black;
}

.mb-1 {
    margin-bottom: 1rem;
}

.img {
    width: 250px;
    height: auto;
}

.Project1 {
    display: grid;
    place-content: center;
    min-height: 40vh;
    text-align: center;
}

